VITE_GEMINI_API_KEY=AIzaSyCsYLI_u0Vkh06CrAPvR5pttpu_oC2xkcw
VITE_GOOGLE_SHEETS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxBbJ40jYrMfljyG2ambiZwRB-MIVkid9jHhfxritMSkvtYORacgGHG76rYZZcWvdM8/exec
