VITE_GEMINI_API_KEY=AIzaSyCsYLI_u0Vkh06CrAPvR5pttpu_oC2xkcw
VITE_GOOGLE_SHEETS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxaBiXuA0FHCbu24TrjghTl2aVShfv6UEreIJqUEvPx-HkwMC1wiikQ3l1gVWWMPO6c/exec